* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Uber Move Text', sans-serif;                                             
}

.app {
  display: block;
}
p {
  font-weight: 400;
  font-size: 15px;
}
/*-----------------------------*/

.nav-bar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #000;
  justify-content: center;
  height: 70px;
  width: 100%;
}

.nav-bar__logo {
  margin: 1em;
  font-size: 25px;
  
}
.nav-bar__logo a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-bar a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.nav__button {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  justify-content: flex-start;
  text-align: left;
  
}
.nav-bar li {
  
  list-style: none;
  font-size: 13px;
  border: 1px solid #000;
  transition: background-color 0.5s;
  border-radius: 25px;
  padding: 8px 10px;
  
}
.nav-bar li:hover {
  background-color:rgba(94, 94, 94, 0.588);
}


.nav-bar__left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav-bar-list__left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  flex-grow: 0;
}


.nav-bar__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.nav-bar-list__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  flex-basis: 100%;
}

.products {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  flex-basis: 50%;
  flex-grow: 0;
  align-items: center;
}
.login-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  flex-grow: 0;
  align-items: center;
}

/*-------------------------------------------*/


.driver {
 
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-image: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_820,h_461/v1653688498/assets/2c/3833ca-a2eb-4da4-9879-51193ea88f87/original/DotCom_Update_Earner_bg_med2x.jpg);
  background-size:cover;
}
.wrapper__driver {
  width: 69%;
  flex-basis: 69%;
}
.block-driver {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  flex-wrap: nowrap;
  width: 50%;
  max-width: 32em;
  min-width: 32em;
  height: auto;
  margin: 5em auto 5em 0;
  background-color: #fff;
}
.driver__header {
  border-bottom: 0.7px solid rgba(168, 167, 167, 0.504);
}
.driver-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
.driver-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8em auto;
  font-size: 14px;
  flex-basis: 33.3%;
  text-align: center;
}
.driver-nav img {
width: 1.8em;
height: auto;
margin: 0.8em auto;
cursor: pointer;
}
.driver-nav li a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.driver__body {
  display: flex;
  flex-direction: column;
  margin: 0.8em 3em;
}
.driver__body h1 {
  font-size: 2.8em;
  margin: 1em 0 0.5em 0;
}
.driver__body p {
  font-size: 14px;
  margin-bottom: 2em;
}
.driver__body button {
  margin: 0 auto 0 0;
  padding: 15px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: 550;
  cursor: pointer;
}

.driver__footer {
  display: flex;
  flex-direction: column;
  margin: 2em 3em;
}
.driver__footer a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-bottom: 0.7px solid rgba(168, 167, 167, 0.504);
  width:fit-content;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
/*---------------FOCUSED------------------*/
.focused {
  width: 69%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
}
.focused-container {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  flex-basis: 100%;
  gap: 30px;
}
.focused h1 {
  font-size: 2em;
  margin: 1em 0;
}
.focused h3 {
  margin: 1em 0;
  font-weight: 500;
}
.focused p {
  margin-bottom: 2em;
  font-size: 14px;
}
.focused a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 1em;
  width:fit-content;
  padding-bottom: 0.5em;
  border-bottom: 0.7px solid rgba(168, 167, 167, 0.504);
  cursor: pointer;
}
.focused-block__item {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.focused-block__item img {
  width: 100%;
}









/*
.focused {
  display: flex;
  flex-direction: column;
}
.focused img {
  width: 25em;
}
.focused h1 {
  font-size: 1.8em;
  margin: 2em auto 0.5em 2em;
}
.container-focused {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: auto;
  
}
.block-safety, .block-setting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25em;
  margin: 1.5em;
}
*/
/*---------------NEWSROOM------------------*/

.newsroom {
  width: 69%;
  margin: 2em auto;
}
.newsroom-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 10px;
}
.newsroom-block__item {
  flex-basis: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.newsroom-block__item img {
  width: 1.5em;
  margin: 1em 0;
}
.newsroom-block__item h3 {
  font-size: 16px;
  margin-bottom: 1em;
  font-weight: 500;
}
.newsroom-block__item p {
  margin-bottom: 2em;
 
}
.newsroom-block__item a {
  text-decoration: none;
  color: #000;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 0.7px solid rgba(168, 167, 167, 0.504);
  width:fit-content;
  font-size: 14px;
}





/*---------------MEDIA------------------*/
@media (max-width: 600px) {
  .nav-bar-list__left, .products {
    display: none;
  }
  .focused {
    width: 90%;
  }
  .focused-container {
    flex-wrap: wrap;
  }
  .focused-block__item {
    flex-basis: 100%;
    justify-content: center;
  }
  .newsroom {
    width: 90%;
  }
  .newsroom-block__item {
    flex-basis: 94%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .focused {
    width: 90%;
  }
  .focused-container {
    align-items: flex-start;
  }
  .focused-block__item {
    flex-basis: 47%;
  }
  .newsroom {
    width: 90%;
  }
  .newsroom-block__item {
    flex-basis: 49%;
    margin-bottom: 2em;
  }
}
@media (max-width: 1135px) {
  .wrapper__driver {
    width: 100%;
    flex-basis: 100%;
  }
  .block-driver {
    margin: 0;
    width: 100%;
    max-width: none;
    
  }
  .driver__header {
    padding-left: 1.5em;
  }
  .driver-nav {
    width: 40%;
  }
}




























/*-----------------------------*/

/*
.background {
  background-image: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_820,h_461/v1653688498/assets/2c/3833ca-a2eb-4da4-9879-51193ea88f87/original/DotCom_Update_Earner_bg_med2x.jpg);
}

section>.hero {
  display: flex;
  width: 100%;
}
section {
  
}
.wrapper {
  margin: 5em;
  height: auto;
  width: 100%;
  background-color: #fff;
}
.hero {
  display: flex;
  width: 70%;
  height: auto;

  /*margin: 20% 50% 20% 20%;*/
}

/*.inner-container {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#fff;
  /*border: 1px solid rgba(161, 157, 157, 0.626);*/
}
/******
.inner-container__header {
  display: flex;
  justify-content: space-around;
}
.inner-container__header a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.inner-container__nav {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0 30px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(161, 157, 157, 0.626);
}
.inner-container__nav li {
  display: flexbox;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  align-items:center;
}

.inner__img {
  text-align: center;
}


.inner-container__body {
  display: block;
}
.inner-container__body h1 {
  font-size: 2.5rem;
  margin: 20px 15px 30px 15px;
  text-align: left;
}
.inner-container__body p {
  text-align: left;
  margin: 0px 15px 20px 15px;
  font-size: 15px;
}
.inner-container__footer {
  display: block;
  margin: 30px 15px 30px;
}
.inner-container__footer button {
  margin: 0 0 15px 0;
  padding: 12px 25px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
.inner-container__footer a {
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(161, 157, 157, 0.626);
  color: black;
  cursor: pointer;
}





.business {
  background-image: url(https://www.greenbiz.com/sites/default/files/images/articles/featured/shutterstock_142977907.jpg);
  height: 12em;
  display: flex;
}

.container-business {
  display: flex;
  align-items:center;
}
.content-business h1 {
  margin: 20px;
}
.content-business p {
  margin: 20px;
}
.content-business button {
  margin: 10px 20px;
  padding: 12px 25px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  font-size: 15px;
}
.content-business a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}




.focused {
  width: 100%;
}
.container-focused {
  display: flex;
  justify-content: space-around;
  margin: 10px 20px;
}


.apps {
  width: 100%;
  background-color:rgba(188, 188, 188, 0.287);
}
.container-apps {
  display: flex;
  justify-content: space-around;
}







/*
.nav-bar__left{
  display: flex;
  flex: 1;
}
.nav-bar-list__left {
  display: flex;
}
.nav-bar-list__left li {
  display: inline-block;
  margin: 10px;
}


.nav-bar__right {
  display: flex;
  margin: 15px;
  flex: 1;
  justify-content: flex-end;
}
.nav-bar-list__right {
  display: flex;
  margin: 15px;
}
.nav-bar-list__right li {
  display: inline-block;
  margin: 10px;
}
